{% load static %}

<article class="card mb-3 w-100 float-left">
    <div class="row g-0">
      <div class="col-3 p-2">
        <div class="border w-100 mb-3" style="height: 100px">
          <img
            src="{{ item.user.avatar.url }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="input-group flex-nowrap">
          <input type="number" value="{{item.likes_count}}" class="form-control" />
        </div>
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">

          </h5>
          <p class="card-text">
              {{ item.text_body }}
          </p>

          <div class="row">
              <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkboxCorrectAnswerId1">
              <label class="form-check-label" >
                Correct!
              </label>
            </div>
          </div>


        </div>
      </div>
    </div>
</article>